
.header__link {
	background-image: url(chrome-extension://__MSG_@@extension_id__/sigo.png)  !important;  
	width: 184px;
	height:54px;
	background-repeat: no-repeat;
}

td {
	z-index: 2 !important;
	background: rgb(255,255,255,0.7) !important;
}

.tc__accessible td, .tc__accessible th {
	padding: 7px !important;
	
}

.label__text, .ticket__label-small {
    color: #4444aa !important;
}

.layout-renderer__child-column {
    padding-top: 1px !important;
    padding-bottom: 1px !important;
    padding-left: 0;
}

.editable-content-section .ticket-summary__content .content {
	padding: 2px 0px !important;
}

.profile-relation__tab-content {
    padding: 0px !important;
    min-height: 0px !important;
}

.label__text {
	padding-bottom: 5px;
}

.title-bar__section {
    padding: 10px 20px 5px !important;
}

.status-bar__section-edit {
    flex-shrink: 0;
    padding: 0 110px 15px 20px !important;
}

.category-widget__item, .layout-renderer__column {
    padding-bottom: 1px !important;
}

.priority__item {
    padding: 0 15px 10px 0 !important;
    display: inline-block;
}

.status-bar__section-edit .col-sm-4.update-status__dropdown {
    padding-right: 0;
    padding-left: 15px !important;
}


.layout-renderer__parent-row {
    display: flex;
    padding: 0 0px 0px 24px !important;
    margin-right: 0;
}

.navigation-bar__item>.more-menu {
	max-height: 400px !important;
}


.navigation-bar__item_selected .navigation-bar__item-label {
    opacity: 1;
    color: #F59CA2 !important;
}

.navigation-bar__item-label:hover {
    color: #5ED2D1 !important;
}

.icon-book_o:hover {
    color: #5ED2D1 !important;
}
.icon-search:hover {
    color: #5ED2D1 !important;
}

.dropdown-toggle.navigation-bar__my-profile:hover {
    font-size: 18px;
    color: #5ED2D1 !important;
}


.navigation-bar__item-label {
    color: #fff;
	font-weight: bold !important;
}

.espineteTumbadoNoVisible {
	position: fixed;
	bottom: -260px;
}

.espineteTumbadoVisible {
	width: 268px;
	height: 162px;
	position: fixed;
	bottom: 2px;
	left: 0px; 
	background-image: url(chrome-extension://__MSG_@@extension_id__/espinete_tumbado.png)  !important;  
	animation-name: mvespi;
	animation-delay: 0s;
	animation-duration: 9s;
	animation-iteration-count: 1;
}

@keyframes mvespi {
	from {
		bottom: -500px;
	}
	to {
		bottom: 2px;
	}
}


#barraCRU {
	position: absolute; 
	bottom: 0px; 
	width: 100%; 
	height: 37px; 
	background-color: #002855; 
	z-index: 4 !important;
}

