body {
	background-image: url(chrome-extension://__MSG_@@extension_id__/espinete_tumbado.png);
	background-position: left bottom;
	background-repeat: no-repeat;
}


.header__link {
	background-image: url(chrome-extension://__MSG_@@extension_id__/sigo.png)  !important;  
	width: 184px; height:54px;
	background-repeat: no-repeat;
}
