
.header__link {
	background-image: url(chrome-extension://__MSG_@@extension_id__/sigo.png)  !important;  
	width: 184px;
	height:54px;
	background-repeat: no-repeat;
}

td {
	z-index: 2 !important;
	background: rgb(255,255,255,0.7) !important;
}

.tc__accessible td, .tc__accessible th {
	padding: 7px !important;
	
}

.label__text, .ticket__label-small {
    color: #33e !important;
}

.espineteTumbadoNoVisible {
	position: fixed;
	bottom: -260px;
}

.espineteTumbadoVisible {
	width: 268px;
	height: 162px;
	position: fixed;
	bottom: 2px;
	left: 0px; 
	background-image: url(chrome-extension://__MSG_@@extension_id__/espinete_tumbado.png)  !important;  
	animation-name: mvespi;
	animation-delay: 0s;
	animation-duration: 7s;
	animation-iteration-count: 1;
}

@keyframes mvespi {
	from {
		bottom: -300px;
	}
	to {
		bottom: 2px;
	}
}


#barraCRU {
	position: absolute; 
	bottom: 0px; 
	width: 100%; 
	height: 37px; 
	background-color: #002855; 
	z-index: 4 !important;
}

